@media only screen and (max-width:730px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 1000px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}